/* Animação de shake */
   @keyframes shake {
    0%, 100% { 
        transform: translateX(0); 
    }
    10%, 30%, 50%, 70%, 90% { 
        transform: translateX(-10px); 
    }
    20%, 40%, 60%, 80% { 
        transform: translateX(10px); 
    }
}

/* aplica a animação a elementos com essa classe */
.shake-animacao {
    animation: shake 0.5s ease-in-out; 
}

/* animação de "desenhar" linha SVG */
.x-animacao {
    stroke-dasharray: 100;       
    stroke-dashoffset: 100;      
    animation: desenhar 1s ease-in-out forwards; /* animação de desenhar, mantém estado final */
}

/* define a animação desenhar para revelar o traço SVG */
@keyframes desenhar {
    to { 
        stroke-dashoffset: 0; /* termina mostrando todo o traço */
    }
}
